



{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<div class="container">
    <div class="title">
        <h2>New registration</h2>
    </div>

    <table class="form">

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
        
                {{ form_row(registrationForm.roles) }}
                {{ form_row(registrationForm.isActive) }}
                <button class="button" type="submit">Registration</button>
                {{ form_end(registrationForm) }}
                
    

    </table>
    
</div>

{% endblock %}