
{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}

<div class="container">
    <div class="title">
        <h2>Create new application</h2>
    </div>
    <table class="form">
        <div class="mb-3">
            <div class="form-control" id="title">
                {{ form(application_form) }}
            </div>
        </div>
    </table>
    <div class="list_title">
        <h2>Application list</h2>
    </div>
    
    <table>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Status', 'a.status') }}
                </th>
                <th{% if pagination.isSorted(['a.created_at']) %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Release', ['a.created_at']) }}
                </th>
            </tr>
            {# table body #}
            {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td><h4><a href="{{ path('app_application_show', {id: article.id}) }}">{{article.title}}</h4></td>
            <td><h6>{{ article.statusAsString }}</h6></td>
            <td>{{ article.createdAt | date('Y-m-d\\TH:i:sP') }}</td>
        </tr>
              {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}